<div id="device-div" class="form form-horizontal">
    <h2 id="proxmox-nodes-table" class="text-center">Nodes</h2>
    <h3>Synced Devices (Nodes): <span id='synced-device-count'>0</span> / <span id='total-device-count'>0</span> (<span id='device-sync-percentage-ratio'>0</span>)</h3>
    <div class="card">
        <div class="table-responsive" id="object_list">
            <div class="table-responsive">
                <table class="table table-hover object-list">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>NetBox ID</th>
                        <th>Node ID</th>
                        <th>Name</th>
                        <th>Node Status</th>
                        <th>Role</th>
                        <th>Manufacturer</th>
                        <th>Type</th>
                        <th>VM/CT Count</th>
                        <th>IP Address</th>
                        <th>Cluster</th>
                        <th>Disk Space (GB)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="device-table-data">
                        <!-- Show it if no virtual machines synced. -->
                        <tr>
                            <td id="device-table-default-td" colspan="12" class="text-center text-muted">— No nodes could be synced with Proxmox —</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
