<div class="card h-100">
    <h2 class="card-header">{{ endpoint_group.plugin_name }}</h2>

    <div class="card-body">
        <table class="table table-hover attr-table">
            <tr>
                <th scope="row"><strong>{{ endpoint_group.model_label }}</strong></th>
                <td>
                    {% if companion_endpoint.url %}
                        <a href="{{ companion_endpoint.url }}">{{ companion_endpoint.name }}</a>
                    {% else %}
                        {{ companion_endpoint.name }}
                    {% endif %}
                </td>
            </tr>
            {% for field in companion_endpoint.fields %}
                <tr>
                    <th scope="row"><strong>{{ field.label }}</strong></th>
                    <td>{{ field.value }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="d-flex justify-content-between align-items-center">
            <span class="badge text-bg-secondary">{{ endpoint_group.plugin_package }}</span>
            {% if endpoint_group.plugin_version %}
                <span class="small text-muted">v{{ endpoint_group.plugin_version }}</span>
            {% endif %}
        </div>
    </div>
</div>
