{% extends 'generic/object_list.html' %}
{% load buttons %}
{% load i18n %}

{% block controls %}
  <div class="btn-group" role="group">
    <a href="{% url 'plugins:netbox_proxbox:cloudimagetemplate_add' %}" class="btn btn-primary">
      <i class="mdi mdi-plus" aria-hidden="true"></i> {% trans "Add Cloud Image" %}
    </a>
  </div>
  <p class="text-muted">
    {% trans "Cloud Image Build Pipeline" %}
  </p>
{% endblock %}

{% block bulk_buttons %}
  <div class="btn-group" role="group">
    {% if 'bulk_delete' in actions %}
      <button type="submit" name="_delete" {% formaction %}="{% url 'plugins:netbox_proxbox:cloudimagetemplate_bulk_delete' %}" class="btn btn-danger">
        <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> {% trans "Delete Selected" %}
      </button>
    {% endif %}
  </div>
{% endblock %}
