{# Footer links for the core Proxbox #}
{# Proxbox Custom Links #}
{% load proxbox_tags %}
<li class="nav-item dropdown dropup">
    <a type="button" class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i title="Proxbox Plugin" class="mdi mdi-puzzle" data-bs-placement="top" data-bs-toggle="tooltip"></i>
    </a>
    <ul class="dropdown-menu disabled" aria-labelledby="navbarDropdown">
        <li>
            {# Proxbox - Documentation (GitHub Pages) #}
            <a type="button" class="dropdown-item" href="https://emersonfelipesp.github.io/netbox-proxbox/" target="_blank">
                <i title="Proxbox | Docs" class="mdi mdi-book-open-variant text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i>  Docs
            </a>
        </li>
        <li>
            {# Proxbox - GitHub Repository #}
            <a type="button" class="dropdown-item" href="https://github.com/emersonfelipesp/netbox-proxbox" target="_blank">
                <i title="Proxbox | Source Code" class="mdi mdi-github text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i> GitHub
            </a>
        </li>
        <li>
            {# Proxbox - PyPI Package #}
            <a type="button" class="dropdown-item" href="https://pypi.org/project/netbox-proxbox/" target="_blank">
                <i title="Proxbox | PyPI" class="mdi mdi-package-variant text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i> PyPI
            </a>
        </li>
        <li>
            {# Proxbox - API Backend Repository #}
            <a type="button" class="dropdown-item" href="https://github.com/emersonfelipesp/proxbox-api" target="_blank">
                <i title="Proxbox | API Backend" class="mdi mdi-api text-primary" data-bs-placement="top" data-bs-toggle="tooltip"></i> Proxbox API
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            {% proxbox_version as ver %}
            <span class="dropdown-item disabled">Proxbox (v{{ ver }})</span>
        </li>
    </ul>
</li>
