{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">{% trans "Node SSH Credential" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Proxmox Node" %}</th>
            <td>{{ object.node|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Username" %}</th>
            <td>{{ object.username }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Port" %}</th>
            <td>{{ object.port }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Authentication Method" %}</th>
            <td>{{ object.get_auth_method_display }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Secret Configured" %}</th>
            <td>
              {% if object.auth_method == "key" %}
                {{ object.has_private_key|yesno:"Yes,No" }}
              {% else %}
                {{ object.has_password|yesno:"Yes,No" }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Pinned Host-Key Fingerprint" %}</th>
            <td>{{ object.known_host_fingerprint }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Sudo Required" %}</th>
            <td>{{ object.sudo_required|yesno:"Yes,No" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
