{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">{% trans "SDN Controller" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Proxmox Endpoint" %}</th>
            <td>{{ object.endpoint|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Cluster" %}</th>
            <td>{{ object.cluster_name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Controller" %}</th>
            <td>{{ object.controller_name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Type" %}</th>
            <td>{{ object.controller_type|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "ASN" %}</th>
            <td>{{ object.asn|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Loopback" %}</th>
            <td>{{ object.loopback|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "State" %}</th>
            <td>{{ object.state|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{{ object.get_status_display }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">{% trans "Topology" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Peers" %}</th>
            <td><pre class="mb-0"><code>{{ object.peers }}</code></pre></td>
          </tr>
          <tr>
            <th scope="row">{% trans "Nodes" %}</th>
            <td><pre class="mb-0"><code>{{ object.nodes }}</code></pre></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card mb-3">
      <h5 class="card-header">{% trans "Raw Configuration" %}</h5>
      <div class="card-body">
        <pre class="mb-0"><code>{{ object.raw_config }}</code></pre>
      </div>
    </div>

    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
