{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">{% trans "SDN Binding" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Proxmox Endpoint" %}</th>
            <td>{{ object.endpoint|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Cluster" %}</th>
            <td>{{ object.cluster_name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Source Type" %}</th>
            <td>{{ object.source_type }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Source Name" %}</th>
            <td>{{ object.source_name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Node" %}</th>
            <td>{{ object.node|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Zone" %}</th>
            <td>{{ object.zone_name|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "VNet" %}</th>
            <td>{{ object.vnet_name|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">{% trans "Target and Status" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Target Type" %}</th>
            <td>{{ object.target_type|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Target ID" %}</th>
            <td>{{ object.target_id|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{{ object.status }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Conflict Reason" %}</th>
            <td>{{ object.conflict_reason|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card mb-3">
      <h5 class="card-header">{% trans "Raw Configuration" %}</h5>
      <div class="card-body">
        <pre class="mb-0"><code>{{ object.raw_config }}</code></pre>
      </div>
    </div>

    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
